/* Blog Card ---------------------------------- */
.blog-shape-img1 {
  opacity: 0.2;
  left: 66px;
  top: 250px;
  .about1-shape-img-2 {
    margin-left: -35px;
    margin-bottom: -120px;
  }
  @include xxl {
    right: 42px;
    top: 140px;
  }
}
.blog-card {
  position: relative;
  padding-bottom: 40px;
  .blog-title {
    font-weight: 900;
    font-size: 26px;
    color: $title-color;
    margin-bottom: 35px;
    margin-top: 12px;
  }
  .blog-img {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    img {
      max-width: 100%;
      border-radius: 5px;
      transition: 0.4s ease-in-out;
      min-height: 340px;
      object-fit: cover;
    }
    .blog-date {
      position: absolute;
      right: 30px;
      bottom: 55px;
      a {
        background: $title-color;
        height: 80px;
        width: 80px;
        border-radius: 5px;
        text-align: center;
        display: inline-block;
        color: $white-color;
        font-family: $title-font;
        font-size: 18px;
        font-weight: 400;
        padding: 13px 10px 17px;
        span {
          display: block;
          font-size: 36px;
          font-weight: 700;
          margin-bottom: 7px;
        }
      }
    }
  }
  .blog-content {
    padding: 40px;
    position: relative;
    z-index: 2;
    transition: 0.4s;
    border-radius: 5px 0 0 5px;
    background: $white-color;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
    margin-top: -25px;
    margin-left: 30px;
  }
  &:hover {
    .blog-img {
      img {
        transform: scale(1.08);
      }
    }
  }
}
@include lg {
  .blog-card .blog-title {
    font-size: 24px;
  }
}
@include xs {
  .blog-card .blog-content {
    margin-left: 25px;
    padding: 30px;
  }
  .blog-card .blog-title {
    margin-bottom: 25px;
  }
}
@include vxs {
  .blog-card .blog-content {
    margin-left: 0px;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
  }
  .blog-card .blog-title {
    font-size: 22px;
  }
  .blog-card .blog-img {
    border-radius: 5px 5px 0 0;
    img {
      border-radius: 5px 5px 0 0;
      min-height: 300px;
    }
    .blog-date {
      bottom: 30px;
    }
  }
}

/* Blog Card 2---------------------------------- */
.blog-card.style2 {
  .blog-img img {
    width: 100%;
  }
  .blog-img img.format-paper-image {
    width: 100%;
    height: clamp(200px, 28vw, 340px);
    max-width: 100%;
    object-fit: cover;
    display: block;
  }
  .blog-img .blog-date {
    bottom: auto;
    right: auto;
    top: 0;
    left: clamp(15px, 2.5vw, 30px);
    a {
      border-radius: 0 0 5px 5px;
      background: $theme-color;
      height: clamp(60px, 7vw, 80px);
      width: clamp(60px, 7vw, 80px);
      padding: clamp(8px, 1vw, 13px) clamp(6px, 0.8vw, 10px) clamp(10px, 1.2vw, 17px);
      font-size: clamp(12px, 1.3vw, 18px);
      span {
        font-size: clamp(24px, 3vw, 36px);
        margin-bottom: clamp(4px, 0.6vw, 7px);
      }
    }
  }
  .blog-content {
    margin-right: clamp(0px, 2.5vw, 30px);
    border-radius: 5px;
    text-align: center;
    border-bottom: 2px solid $theme-color;
    padding: clamp(25px, 3vw, 35px) clamp(20px, 2.8vw, 35px) clamp(20px, 2.5vw, 27px);
  }
  .blog-title {
    margin-top: clamp(15px, 2vw, 21px);
    margin-bottom: clamp(20px, 2.8vw, 33px);
    font-size: clamp(18px, 2.2vw, 26px);
    line-height: clamp(1.3, 1.35, 1.4);
  }
}

@include xl {
  .blog-card.style2 {
    .blog-img img.format-paper-image {
      height: clamp(220px, 30vw, 320px);
    }
  }
}

@include laptop {
  .blog-card.style2 {
    .blog-img img.format-paper-image {
      height: clamp(200px, 32vw, 300px);
    }
    .blog-content {
      padding: clamp(22px, 3.2vw, 32px) clamp(18px, 2.6vw, 30px) clamp(18px, 2.4vw, 25px);
    }
  }
}

@include tablet {
  .blog-card.style2 {
    .blog-img img.format-paper-image {
      height: clamp(180px, 35vw, 280px);
    }
    .blog-content {
      margin-right: clamp(0px, 2vw, 25px);
      padding: clamp(20px, 3.5vw, 30px) clamp(15px, 2.5vw, 25px) clamp(15px, 2.2vw, 22px);
    }
    .blog-title {
      font-size: clamp(16px, 2.5vw, 24px);
    }
  }
}

@include mobile {
  .blog-card.style2 {
    .blog-img img.format-paper-image {
      height: clamp(160px, 40vw, 250px);
    }
    .blog-content {
      margin-right: 0;
      padding: clamp(18px, 4vw, 25px) clamp(12px, 3vw, 20px) clamp(12px, 2.8vw, 18px);
    }
    .blog-title {
      font-size: clamp(15px, 3vw, 22px);
      margin-top: clamp(12px, 1.8vw, 18px);
      margin-bottom: clamp(15px, 2.5vw, 25px);
    }
  }
}

@include vxs {
  .blog-card.style2 {
    .blog-img img.format-paper-image {
      height: clamp(140px, 45vw, 220px);
    }
    .blog-content {
      padding: clamp(15px, 4.5vw, 22px) clamp(10px, 3.5vw, 18px) clamp(10px, 3vw, 15px);
    }
    .blog-title {
      font-size: clamp(14px, 3.5vw, 20px);
    }
  }
}

@include tiny {
  .blog-card.style2 {
    .blog-img img.format-paper-image {
      height: clamp(120px, 50vw, 200px);
    }
    .blog-content {
      padding: clamp(12px, 5vw, 18px) clamp(8px, 4vw, 15px) clamp(8px, 3.5vw, 12px);
    }
    .blog-title {
      font-size: clamp(13px, 4vw, 18px);
    }
  }
}
